<h1>My Profile</h1>
<p> Display Name: <%= @user.user_name %><br>
    Current Balance: <%= @user.dollars %><br>
    Total Spent: <%= @user.spendings %><br>
    Total Savings: <%= @user.savings %><br>

</p>
<button><%= link_to "Edit", "/users/#{@user.id}/edit" %></button><br>
<%= button_to "Delete Account", user_path(@user), method: "delete", data:{confirm:'Are You Sure?'} %>
<button><%= link_to "Back", cards_path %></button>
